* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    font-family: inherit;
    font-weight: 900;
}
body {
    font-family: "MuseoModerno", sans-serif;
    background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(78, 74, 74));
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 2rem;
    padding: 8vh;
}

.header-title {
    font-size: 3rem;
    color: white;
}
.todo-type, .header-title {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-btn, .todo-input,form {
    padding: 0.2rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;
    width: 100%;
}

.todo-btn {
    cursor: pointer;  
    transition: all 0.3s ease;
    background-color: #fff;
    color: black;
}
.todo-btn:hover {
    background-color: rgb(78, 74, 74);
}
.todo-btn:active {
    background-color: white;
    box-shadow: inset 0.2em 0.2em 0.5em rgb(139, 108, 108);
}

.todo {
    margin-top: 6vh;
    display: flex;
    background-color: white;
    min-width: 100%;
    justify-content: space-between;

}
.todo p{
    flex: 1;
}
.todo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todo-text {
    margin: 0.2rem 1rem;
    font-size: 2rem;
    min-width: 70%;
    
    align-items: center;
}
@media (max-width:1200px){
    .todo-text {
        margin: 0.2rem 1rem;
        font-size: 1rem;
        min-width: 70%;
        display: flex;
        word-wrap: break-word;
        align-items: center;
    }

    .header-title {
        font-size: 2rem;
        color: white;
    }
}
.delete-btn {
    font-size: 1.8rem;
    color: white;
    background-color: rgb(216, 23, 23);
    padding: 0.7rem;
    border: none;
    cursor: pointer;
}

.check-btn {
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
    background-color: rgb(26, 141, 3);
    padding: 0.7rem;
    border: none;
}
.check {
    text-decoration: line-through;
    background-color: rgb(173, 164, 164);
    opacity: .4;
}
.check-btn:active{
    background-color: rgb(43, 36, 36);
}
.delete-btn:active{
    background-color: rgb(43, 36, 36);
}
