* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    font-family: inherit;
    font-weight: 900;
}
body {
    font-family: "MuseoModerno", sans-serif;
    background-image: linear-gradient(120deg, rgb(221, 84, 84), rgb(201, 147, 48));
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 15vh;
    font-size: 2rem;
}

.header-title {
    font-size: 3.5rem;
    color: rgb(241, 213, 177);
}
.todo-type, .header-title {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-btn, .todo-input,form {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    outline: none;
}

.todo-btn {
    cursor: pointer;  
    transition: all 0.3s ease;
    background-color: #fff;
}
.todo-btn:hover {
    background-color: rgb(209, 107, 59);
}
.todo-btn:active {
    background-color: rgb(209, 107, 59);
    box-shadow: inset 0.2em 0.2em 0.5em rgb(139, 108, 108);
}
